@import 'tailwindcss';
@import '@sierra-95/svelte-scaffold/global.css';
@plugin '@tailwindcss/typography';

:root{
    --note-light: #1E66F5;
    --note-dark: #79AFFF;
}
body{
    font-family: "Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body, body[data-theme='light'] {
    --shiki-bg: #f8fafc;
    --note: var(--note-light);
}

body[data-theme='dark']{
    --shiki-bg: var(--black-400);
    --note: var(--note-dark);
}

h1.sierra-docs-h1{
    font-family:  'TrenchSlab Regular', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

h1.sierra-docs-h1 span{
    font-weight: normal;
    font-size: 1rem;
    font-family: unset;
    margin-left: 10px;
}

h2.sierra-docs-h2{
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1.sierra-docs-h1{
        font-size: 1.5rem;
    }
}

ol.sierra-docs-ol {
    list-style: circle inside;
}
/*Titles as lists*/
ol.sierra-docs-ol li{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 0px;
    font-family:  'TrenchSlab Regular', sans-serif;
}
@media (max-width: 768px) {
    ol.sierra-docs-ol li{
        font-size: 1.2rem;
    }
}

/*Lists inside lists*/
ol.sierra-docs-ol ul{
    list-style: disc inside;
}
ol.sierra-docs-ol ul li{
    font-weight: normal;
    font-size: 1rem;
    padding: unset;
    font-family: unset;
}


/*Dont use from h3*/
.note{
    color: var(--note);
    text-decoration: underline;
}
.div{
    border: 1px solid green;
}
.div2{
    border: 1px solid red;
}


@font-face {
    font-family: 'Array Regular';
    src: url('/fonts/Array-Regular.woff2') format('woff2'),
        url('/fonts/Array-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('/fonts/ClashDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Comico Regular';
    src: url('/fonts/Comico-Regular.woff2') format('woff2'),
        url('/fonts/Comico-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kola Regular';
    src: url('/fonts/Kola-Regular.woff2') format('woff2'),
        url('/fonts/Kola-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Melodrama Regular';
    src: url('/fonts/Melodrama-Regular.woff2') format('woff2'),
        url('/fonts/Melodrama-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Striper Regular';
    src: url('/fonts/Striper-Regular.woff2') format('woff2'),
        url('/fonts/Striper-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TrenchSlab Regular';
    src: url('/fonts/TrenchSlab-Regular.woff2') format('woff2'),
        url('/fonts/TrenchSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}